div{
    display: inline-block;
}
nav {
    position: fixed;
    bottom: 0;
    background-color: aqua;
    width: 900px;
    height: 70px;
    margin: 20px 200px;
    border-radius: 30px;
}
#like{
    margin: 10px 80px;
}
#support{
    margin: 10px 0 10px 150px ;
}
#home{
    margin: 10px 0;
}
#offer{
    margin: 10px 80px;
}
#user{
    margin: 10px;
}
.icons:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.icons:active{
    background-color: rgba(0, 0, 0, 0.274);
}
#searchBox{
    width: 900px;
    margin: 10px 200px;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    border: black outset 2px;
    font-size: larger;
}
#headers{
    position: relative;
}
#bottons{
    position: absolute;
    left: 200px;
    top: 10px;
    padding: 15px;
    border-radius: 30px;
    border: black outset 2px;
    font-size: larger;
}
#bottons:hover{
    background-color: black;
    border: gray outset 2px;
    color: antiquewhite;
}